/* 
=========
Variables
=========
 */

:root {

    //color-white
    --linen: hsla(35, 33%, 90%, 1);
    --misty-rose: hsla(0, 33%, 90%, 1);
    --azure: hsla(173, 33%, 90%, 1);

    /* CSS HSL */
    --dark-red: hsla(0, 91%, 32%, 1);
    --dirty-pink: hsla(0, 35%, 70%);

    //menu
    --opal: hsla(174, 22%, 65%, 1);
    --powdered-blue: hsla(173, 22%, 70%, 1);
    --logo-opal: hsla(174, 22%, 61%, 1);

    //logo
    --red: hsl(0, 35%, 70);
    --blue: hsl(174, 22%, 61%);
    --yellow: hsl(36, 100%, 71%);

    //logo-new
    --red: hsla(0, 55%, 65%, 1);
    --yellow: hsla(36, 60%, 47%);
    --blue: hsla(174, 22%, 55%, 1);


    // //logo
    // --granat: hsla(240, 51%, 20%, 1);
    // --zolty: hsla(35, 95%, 45%, 1);
    // --ciemny-zolty: hsla(35, 95%, 40%);
    // --czerwony: hsla(0, 91%, 25%, 1);
    // --ciemny-czerwony : hsla(0, 90%, 20%);

    //title
    --mortuum: hsla(0, 51%, 25%, 1);
    --granat: hsla(240, 51%, 30%, 1);
    --cadet-blue: hsla(174, 31%, 38%, 1);
    --logo-blue: hsla(174, 22%, 55%, 1);
    
    //anchor
    --yellow: hsla(36, 100%, 71%, 1);
    --yellow-orange: hsla(36, 100%, 66%, 1);
    
    
    //tags
    --dirty-yellow: hsla(36, 90%, 67%, 1);
    --yellow-orange: hsla(36, 100%, 66%, 1);
    --gold: hsla(36, 68%, 48%);
    
    //eye icon
    --grey: hsla(0, 0%, 65%);
    
    // fonts
    --isabelling:hsl(0, 11%, 93%);
    
    //rating
    --magenta: hsl(330, 80%, 50%);
    --magenta-dark: hsl(330, 80%, 40%);
    --grey: hsla(0, 0%, 65%);
    --yellow-orange: hsla(35, 95%, 60%, 1);
}