/* 
=========
Variables
=========
 */

:root {
    /* CSS HEX */
    --blood-red: #610505ff;
    --barn-red: #790606ff;
    --ochre: #c77605ff;
    --fulvous: #e08506ff;
    --space-cadet: #13133aff;
    --royal-blue-dark: #19194dff;
    
    /* CSS HSL */
    --blood-red: hsla(0, 90%, 20%, 1);
    --barn-red: hsla(0, 91%, 25%, 1);
    --fuzzy-wuzzy: hsla(0, 40%, 60%);
    --shadowed-pink: hsla(0, 91%, 70%, 1);
    --light-pink: hsla(0, 91%, 75%, 1);
    --ochre: hsla(35, 95%, 40%);
    --fulvous: hsla(35, 95%, 45%, 1);
    --space-cadet: hsla(240, 51%, 15%, 1);
    --royal-blue-dark: hsla(240, 51%, 20%, 1);
    --silver-metallic: hsla(240, 2%, 65%);
    --silver-metallic-trans: hsla(240, 2%, 65%, 0.5);
    --isabelling:hsl(0, 11%, 93%);
}