/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* 
=========
Variables
=========
 */
:root {
  /* CSS HEX */
  --blood-red: #610505ff;
  --barn-red: #790606ff;
  --ochre: #c77605ff;
  --fulvous: #e08506ff;
  --space-cadet: #13133aff;
  --royal-blue-dark: #19194dff;
  /* CSS HSL */
  --blood-red: hsla(0, 90%, 20%, 1);
  --barn-red: hsla(0, 91%, 25%, 1);
  --shadowed-pink: hsla(0, 91%, 70%, 1);
  --light-pink: hsla(0, 91%, 75%, 1);
  --ochre: hsla(30, 40%, 2%, 1);
  --fulvous: hsla(35, 95%, 45%, 1);
  --space-cadet: hsla(240, 51%, 15%, 1);
  --royal-blue-dark: hsla(240, 51%, 20%, 1);
  --isabelling:hsl(0, 11%, 93%);
  --grey:hsl(0, 1%, 53%);
}

.menu_option * {
  color: var(--isabelling);
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 4vh;
  letter-spacing: .1em;
  text-shadow: 2px 2px 3px #969696;
}

@media only screen and (max-width: 600px) {
  .navbar.mobile {
    position: fixed;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .navbar.mobile > * {
    position: relative;
  }
  .navbar.mobile .circle {
    position: fixed;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    margin: 10px;
  }
  .navbar.mobile .circle.inner {
    -webkit-transition: all .9s;
    transition: all .9s;
  }
  .navbar.mobile .circle.outer {
    -webkit-transition: all .8s;
    transition: all .8s;
  }
  .navbar.mobile .logo {
    z-index: 100;
  }
  .navbar.mobile .btn {
    position: fixed;
    height: 10vh;
    margin: 10px;
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 12px 3px rgba(0, 0, 0, 0.65);
            box-shadow: 5px 5px 12px 3px rgba(0, 0, 0, 0.65);
  }
  .navbar.mobile .menu .menu_option {
    position: fixed;
    margin: 2.5vh;
    top: -20vh;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
    opacity: .1;
  }
  .navbar.mobile .menu_close.btn {
    bottom: -20vh;
    left: calc(50vw - 5vh);
    height: auto;
    background-color: var(--light-pink);
    -webkit-transition: all .8s;
    transition: all .8s;
  }
  .navbar.mobile .menu_close.btn .fa-times-circle {
    color: var(--barn-red);
    size: 10vh;
  }
  .navbar.mobile .active {
    color: var(--barn-red);
  }
  .navbar.mobile.opened .circle.inner {
    -webkit-transform: scale(11);
            transform: scale(11);
    top: 15vh;
    background-color: var(--shadowed-pink);
  }
  .navbar.mobile.opened .circle.outer {
    -webkit-transform: scale(14);
            transform: scale(14);
    background-color: var(--light-pink);
  }
  .navbar.mobile.opened .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin-top: 25vh;
  }
  .navbar.mobile.opened .menu .menu_option {
    opacity: 1;
  }
  .navbar.mobile.opened .menu .menu_option:nth-child(1) {
    top: 20vh;
  }
  .navbar.mobile.opened .menu .menu_option:nth-child(1) a {
    font-weight: 400;
  }
  .navbar.mobile.opened .menu .menu_option:nth-child(2) {
    top: 30vh;
  }
  .navbar.mobile.opened .menu .menu_option:nth-child(3) {
    top: 40vh;
  }
  .navbar.mobile.opened .menu_close.btn {
    bottom: 10vh;
  }
}
/*# sourceMappingURL=styles.css.map */