.menu_option * {
    color: var(--isabelling);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 4vh;
    letter-spacing: .1em;
    text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
}