
@media only screen and (max-width: 600px) {
    .navbar {
        &.mobile {
            position: fixed;
            min-height: fit-content;

            > * {
                position: relative;
            }

            .circle {
                position: fixed;
                height: 10vh;
                width: 10vh;
                border-radius: 50%;
                margin: 10px;
                
                &.inner {
                    transition: all .9s;
                }
                
                &.outer {
                    transition: all .8s;
                }
            }

            .logo {
                z-index: 100;
            }

            .btn {
                position: fixed;
                height: 10vh;
                margin: 10px;
                border-radius: 50%;
                box-shadow: 5px 5px 12px 3px rgba(0,0,0,0.65);
            }

            .menu {
                .menuOption {
                    position: fixed;
                    margin: 2.5vh;
                    top: -20vh;
                    transition: all 1.2s;
                    opacity: .1;
                }
            }

            .menuClose {
                &.btn {
                    bottom: -20vh;
                    left: calc(50vw - 5vh);
                    height: auto;
                    background-color: var(--light-pink);
                    transition: all .8s;
                    
                    .FaTimesCircle {
                        color: var(--barn-red);
                        size: 10vh;
                    }
                }
            }

            .active { 
                color: var(--barn-red);
            }
            
            &.opened {
                .circle {
                    
                    &.inner {
                        transform: scale(11);
                        top: 15vh;
                        background-color: var(--shadowed-pink);
                    }
                    
                    &.outer {
                        transform: scale(14);
                        background-color: var(--light-pink);
                    }
                }

                .menu {
                    display: flex;
                    flex-flow: column nowrap;
                    margin-top: 25vh;

                    .menuOption {
                        opacity: 1;
                    }
    
                    .menuOption:nth-child(1) {
                        top: 20vh;
                        & a {
                            font-weight: 400;
                        }
                    }
    
                    .menuOption:nth-child(2) {
                        top: 30vh;
                    }
    
                    .menuOption:nth-child(3) {
                        top: 40vh;
                    }
                }


                .menuClose {
                    &.btn {
                        bottom: 10vh;
                    }
                }
            }
        }
    }

    .menuOption * {
        color: var(--isabelling);
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 4vh;
        letter-spacing: .1em;
        text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
    }
}