@media only screen and (max-width: 600px) {
    .root {
        position: relative;
        text-align: center;
        width: 15vmin;
        height: 15vmin;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;

        .ratingHearts {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            right: 28vw;
            transition: all .7s ease-in-out;
        }

        .heartLabel {
            display: flex;
            margin-right: 1.5vw;
            transition: all .7s ease-in-out;

            input {
                display: none;
            }
            
            .heartIcon {
                width: 13vw;
                height: auto;

                &.unmarked {
                    color: var(--grey);
                }

                &.marked {
                    color: var(--magenta);
                }
            }
        }
                
        .number {            
            color: var(--yellow-orange);
            text-shadow: 3px 3px 4px rgba(0,0,0,0.77);
            font-size: 8vw;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 10%;
            z-index: 6;
            width: 13vw;
        }
        
        &.collapsed {

            .ratingHearts {
                // transition: all .7s ease-in-out;
                right: 42.5vw;

                .heartLabel {
                    position: relative;
                    // transition: all .7s ease-in-out;
                }
                
                .heartLabel:nth-child(1) {
                    transform: translate(72.5vw);
                    z-index: 5;
                }
                .heartLabel:nth-child(2) {
                    transform: translate(58vw);
                    z-index: 4;
                }
                .heartLabel:nth-child(3) {
                    transform: translate(43.5vw);
                    z-index: 3;
                }
                .heartLabel:nth-child(4) {
                    transform: translate(29vw);
                    z-index: 2;
                }
                .heartLabel:nth-child(5) {
                    transform: translate(14.5vw);
                    z-index: 1;
                }
            }
        }
        
        &.open {
            
            .ratingHearts {
                transform: scale(.7);

                .heartLabel:nth-child(1) {
                    right: -72.5vw;
                }
                .heartLabel:nth-child(2) {
                    right: -58vw;
                }
                .heartLabel:nth-child(3) {
                    right: -43.5vw;
                }
                .heartLabel:nth-child(4) {
                    right: -29vw;
                }
                .heartLabel:nth-child(5) {
                    right: -14.5vw;
                }
            }
        }
    }
} 